about-time==4.2.1
affine==2.4.0
aiobotocore @ file:///C:/b/abs_431uzunk2v/croot/aiobotocore_1738237882529/work
aiodns==3.2.0
aiohappyeyeballs @ file:///C:/b/abs_e9fm5mk6ak/croot/aiohappyeyeballs_1734469429350/work
aiohttp @ file:///C:/b/abs_d4_gdjffav/croot/aiohttp_1734687146788/work
aioitertools @ file:///tmp/build/80754af9/aioitertools_1607109665762/work
aiosignal @ file:///tmp/build/80754af9/aiosignal_1637843061372/work
alabaster @ file:///C:/b/abs_45ba4vacaj/croot/alabaster_1718201502252/work
alive-progress==3.2.0
altair @ file:///C:/b/abs_0b1avjyzoc/croot/altair_1743016738596/work
altgraph==0.17.5
annotated-types==0.7.0
anyio==4.11.0
appdirs==1.4.4
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///C:/b/abs_f11axiliot/croot/argon2-cffi-bindings_1736182463870/work
arrow @ file:///C:/b/abs_c2lakss3ie/croot/arrow_1728676307980/work
asdf==4.3.0
asdf-astropy==0.8.0
asdf_coordinates_schemas==0.4.0
asdf_standard==1.3.0
asdf_transform_schemas==0.6.0
asdf_wcs_schemas==0.5.0
astroalign==2.6.2
astroid @ file:///C:/b/abs_0cbdmb3jwk/croot/astroid_1736455948867/work
astropy @ file:///C:/b/abs_a6ryor8rkd/croot/astropy_1738094426721/work
astropy-iers-data @ file:///C:/b/abs_fact33de2d/croot/astropy-iers-data_1737137602781/work
astropy_healpix==1.1.2
astroquery==0.4.11
astroscrappy==1.2.0
asttokens==3.0.0
async-lru @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/async-lru_1701796859357/work
asyncssh @ file:///C:/b/abs_8ee_ywwv_i/croot/asyncssh_1729522974229/work
atomicwrites==1.4.0
attrs @ file:///C:/b/abs_89hmquz5ga/croot/attrs_1734533130810/work
Automat @ file:///C:/b/abs_e6j20ekmp5/croot/automat_1743532580167/work
autopep8 @ file:///croot/autopep8_1708962882016/work
babel @ file:///C:/b/abs_ffzt1bmjth/croot/babel_1737454394148/work
bcrypt @ file:///C:/b/abs_b3ok3jhxrx/croot/bcrypt_1747402791004/work
beartype==0.21.0
beautifulsoup4==4.14.2
bidict==0.23.1
binaryornot @ file:///tmp/build/80754af9/binaryornot_1617751525010/work
black @ file:///C:/b/abs_16b05kiqvj/croot/black_1737659150021/work
bleach @ file:///C:/b/abs_925i9psm3u/croot/bleach_1732292896852/work
blinker @ file:///C:/b/abs_b1i87khtob/croot/blinker_1737448732095/work
bokeh @ file:///C:/b/abs_f6bf75elu5/croot/bokeh_1737999174485/work
botocore==1.34.69
Bottleneck @ file:///C:/b/abs_816hr2khp1/croot/bottleneck_1731058648110/work
Brotli @ file:///C:/b/abs_c415aux9ra/croot/brotli-split_1736182803933/work
bs4==0.0.2
cachetools @ file:///C:/b/abs_fcvwpc5vh9/croot/cachetools_1738224687938/work
cascadio==0.0.16
ccdproc==2.5.1
certifi==2025.11.12
cffi==1.17.1
chardet @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/chardet_1699498892802/work
charset-normalizer==3.4.4
click @ file:///C:/b/abs_42rbjngfys/croot/click_1744271606983/work
click-plugins==1.1.1.2
cligj==0.7.2
cloudpickle @ file:///C:/b/abs_8abv3sva4p/croot/cloudpickle_1721657372632/work
colorama==0.4.6
colorcet @ file:///C:/b/abs_7ep0mfawez/croot/colorcet_1709758405232/work
colorlog==6.10.1
comm==0.2.2
constantly @ file:///C:/b/abs_cbuavw4443/croot/constantly_1703165617403/work
contourpy==1.3.1
cookiecutter @ file:///C:/b/abs_66untpu1ub/croot/cookiecutter_1711059869779/work
corner==2.2.2
coverage==7.9.2
coveralls==4.0.1
crc32c==2.8
cryptography @ file:///C:/b/abs_ae5lrkywtg/croot/cryptography_1740577842775/work
cssselect @ file:///C:/b/abs_71gnjab7b0/croot/cssselect_1707339955530/work
cycler==0.12.1
Cython==3.1.2
cytoolz @ file:///C:/b/abs_9fo7kaynab/croot/cytoolz_1736803775290/work
dask @ file:///C:/b/abs_b819ma5s3z/croot/dask-core_1741970207786/work
dask-expr @ file:///C:/b/abs_a3l2uwpvbn/croot/dask-expr_1742226151168/work
datashader @ file:///C:/b/abs_7fi1hwtnu7/croot/datashader_1744385576590/work
debugpy==1.8.12
decorator==5.1.1
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
Deprecated @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/deprecated_1699499370767/work
diff-match-patch @ file:///Users/ktietz/demo/mc3/conda-bld/diff-match-patch_1630511840874/work
dill @ file:///C:/b/abs_f79eg27d2q/croot/dill_1715094735295/work
distributed @ file:///C:/b/abs_42ljkiheum/croot/distributed_1741988119116/work
docker-pycreds==0.4.0
docopt==0.6.2
docstring-to-markdown @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/docstring-to-markdown_1699484265167/work
docutils @ file:///C:/b/abs_8d42id67ov/croot/docutils_1744664123685/work
donfig==0.8.1.post1
efficientnet_pytorch==0.7.1
embreex==2.17.7.post6
et-xmlfile @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/et_xmlfile_1699500373144/work
executing==2.2.0
ezdxf==1.4.2
fast_simplification==0.1.11
fastjsonschema @ file:///C:/b/abs_4ev90296ly/croot/python-fastjsonschema_1731939386416/work
fbpca==1.0
filelock==3.13.1
filetype==1.2.0
finplot==1.9.7
flake8 @ file:///C:/b/abs_11zrixwsv1/croot/flake8_1726157202790/work
Flask @ file:///C:/b/abs_a6m37uz578/croot/flask_1737454335662/work
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
fonttools==4.55.8
fqdn==1.5.1
frozenlist @ file:///C:/b/abs_06ctmb1zeo/croot/frozenlist_1730903113463/work
fsspec==2025.7.0
gevent==24.10.3
gevent-websocket==0.10.1
gitdb @ file:///tmp/build/80754af9/gitdb_1617117951232/work
GitPython @ file:///C:/b/abs_2bkslnqz4i/croot/gitpython_1720455044865/work
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
grapheme==0.6.0
greenlet==3.1.1
gwcs==0.25.2
h11==0.16.0
h5py @ file:///C:/b/abs_9cz_vyf1xj/croot/h5py_1737051135810/work
HeapDict @ file:///Users/ktietz/demo/mc3/conda-bld/heapdict_1630598515714/work
holoviews @ file:///C:/b/abs_9bbkzym0jb/croot/holoviews_1741882167503/work
html5lib==1.1
httpcore==1.0.9
httpx @ file:///C:/b/abs_9fclaf1b46/croot/httpx_1746747856672/work
huggingface-hub==0.24.5
hvplot @ file:///C:/b/abs_3ack78yhuc/croot/hvplot_1746471225135/work
hyperlink @ file:///tmp/build/80754af9/hyperlink_1610130746837/work
idna==3.11
ImageHash==4.3.2
imageio @ file:///C:/b/abs_4cup9zfkvm/croot/imageio_1738160462075/work
imagesize @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/imagesize_1699476341924/work
imbalanced-learn @ file:///C:/b/abs_e61qnz168l/croot/imbalanced-learn_1738614381129/work
importlib_metadata @ file:///C:/b/abs_9d0lp1ysmt/croot/importlib_metadata-suite_1732633510972/work
incremental @ file:///croot/incremental_1743512672142/work
inflection @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/inflection_1699500974258/work
iniconfig @ file:///home/linux1/recipes/ci/iniconfig_1610983019677/work
intake @ file:///C:/b/abs_ebww2no2x2/croot/intake_1726109581477/work
intervaltree @ file:///Users/ktietz/demo/mc3/conda-bld/intervaltree_1630511889664/work
ipykernel==6.29.5
ipyparallel==9.0.0
ipython==8.32.0
ipywidgets @ file:///C:/b/abs_f03en2fv37/croot/ipywidgets_1733504604628/work
isoduration==20.11.0
isort @ file:///C:/b/abs_7es817tui1/croot/isort_1741285183905/work
itemadapter @ file:///tmp/build/80754af9/itemadapter_1626442940632/work
itemloaders @ file:///C:/b/abs_f35dqz89dk/croot/itemloaders_1743513855167/work
itsdangerous @ file:///C:/b/abs_c4vwgdr5yn/croot/itsdangerous_1716533399914/work
jaraco.classes @ file:///tmp/build/80754af9/jaraco.classes_1620983179379/work
jaraco.context @ file:///C:/b/abs_6f48xbyztf/croot/jaraco.context_1728505024809/work
jaraco.functools @ file:///C:/b/abs_a1jv6v_pzp/croot/jaraco.functools_1740408129620/work
jedi==0.19.2
jellyfish @ file:///C:/b/abs_c5ua9cti7n/croot/jellyfish_1736367467867/work
Jinja2==3.1.4
jmespath @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jmespath_1701807551985/work
joblib @ file:///C:/b/abs_f4b98l6lgk/croot/joblib_1718217224240/work
json5 @ file:///C:/b/abs_743lprxrv5/croot/json5_1730786818336/work
jsonschema @ file:///C:/b/abs_394_t6__xq/croot/jsonschema_1728486718320/work
jsonschema-specifications @ file:///C:/Users/dev-admin/py312/jsonschema-specifications_1706803038066/work
jupyter @ file:///C:/b/abs_32aohix0i1/croot/jupyter_1737645821205/work
jupyter-analysis-tools==1.6.2
jupyter-console @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/jupyter_console_1707430148515/work
jupyter-events @ file:///C:/b/abs_9cm3qlticu/croot/jupyter_events_1741184612840/work
jupyter-lsp @ file:///C:/b/abs_7171flzdkg/croot/jupyter-lsp-meta_1745827033118/work
jupyter-server-mathjax==0.2.6
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server @ file:///C:/b/abs_dd442s1uya/croot/jupyter_server_1741206396661/work
jupyter_server_terminals @ file:///C:/b/abs_adjrm9dtns/croot/jupyter_server_terminals_1744706714294/work
jupyterlab @ file:///C:/b/abs_adgv7wgabm/croot/jupyterlab_1737555444636/work
jupyterlab_pygments @ file:///C:/b/abs_d5alfet8m6/croot/jupyterlab_pygments_1741124274578/work
jupyterlab_server @ file:///C:/b/abs_fdi5r_tpjc/croot/jupyterlab_server_1725865372811/work
jupyterlab_widgets @ file:///C:/b/abs_70q5kcqvoa/croot/jupyterlab_widgets_1733441048419/work
keyring @ file:///C:/b/abs_596d81ux2c/croot/keyring_1745484709696/work
kiwisolver==1.4.8
lazy_loader @ file:///C:/b/abs_3fs2i5w5p3/croot/lazy_loader_1718176758844/work
lckr_jupyterlab_variableinspector @ file:///C:/b/abs_a7k1hndm37/croot/jupyterlab-variableinspector_1744638305846/work
lightkurve==2.5.1
lightning-utilities==0.11.6
linkify-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/linkify-it-py_1699558957411/work
llvmlite @ file:///C:/b/abs_da51wefv9a/croot/llvmlite_1741209883316/work
lmdb @ file:///C:/b/abs_2decx3xz4y/croot/python-lmdb_1736541366547/work
locket @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/locket_1699476508014/work
loro==1.5.2
lxml==5.3.0
lz4 @ file:///C:/b/abs_8ep7mb2x8a/croot/lz4_1736369996037/work
manifold3d==3.1.1
mapbox_earcut==1.0.3
marimo==0.14.10
Markdown==3.8.2
markdown-it-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/markdown-it-py_1699473886965/work
MarkupSafe==2.1.5
matplotlib==3.10.0
matplotlib-inline==0.1.7
mccabe @ file:///opt/conda/conda-bld/mccabe_1644221741721/work
mdit-py-plugins @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdit-py-plugins_1699559788389/work
mdurl @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mdurl_1699473506455/work
memoization==0.4.0
meshio==5.3.5
mistune @ file:///C:/b/abs_77yql3poyz/croot/mistune_1741124004410/work
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
more-itertools @ file:///C:/b/abs_a2n4mhb8gn/croot/more-itertools_1727185463826/work
mpmath==1.3.0
msgpack @ file:///C:/b/abs_23gr87nnaw/croot/msgpack-python_1749542176066/work
multidict @ file:///C:/b/abs_19e3ubo2ew/croot/multidict_1730905504444/work
multipledispatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/multipledispatch_1699473951974/work
munch==4.0.0
mypy @ file:///C:/b/abs_6epbyye_k3/croot/mypy-split_1736792006114/work
mypy-extensions @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/mypy_extensions_1699482634516/work
narwhals==1.46.0
nbclient @ file:///C:/b/abs_a09c4t3h8x/croot/nbclient_1741124030330/work
nbconvert @ file:///C:/b/abs_c27_60dzt8/croot/nbconvert-meta_1741191385337/work
nbdime==4.0.2
nbformat @ file:///C:/b/abs_c2jkw46etm/croot/nbformat_1728050303821/work
nest-asyncio==1.6.0
networkx==3.3
nltk @ file:///C:/b/abs_3e10flry37/croot/nltk_1724427703710/work
nodeenv==1.9.1
notebook @ file:///C:/b/abs_a9fyfijr7c/croot/notebook_1749741813833/work
notebook_shim @ file:///C:/b/abs_9ctyfgpncn/croot/notebook-shim_1741707829491/work
Nuitka==2.8.9
numba @ file:///C:/b/abs_f42h_j9bwg/croot/numba_1740668206517/work
numcodecs==0.16.3
numexpr @ file:///C:/b/abs_05o8p7bfml/croot/numexpr_1730215959182/work
numpy @ file:///C:/b/abs_25aj347ekn/croot/numpy_and_numpy_base_1730835595898/work/dist/numpy-2.1.3-cp312-cp312-win_amd64.whl#sha256=5f408b6e106c40ee55858263d31f6a5157dd9891bf4fd58f07e85a023b993a31
numpydoc @ file:///C:/b/abs_bbspp5l8vu/croot/numpydoc_1718279185573/work
openctm==0.0.6
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
openpyxl @ file:///C:/b/abs_6cdczthntz/croot/openpyxl_1736371239628/work
ordered-set==4.1.0
overrides @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/overrides_1701806336503/work
packaging==25.0
pandas==2.3.3
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
panel @ file:///C:/b/abs_94csf26rqz/croot/panel_1747424488019/work
param @ file:///C:/b/abs_947gg_me2k/croot/param_1734618628313/work
parse_pip_search==0.0.1
parsel @ file:///C:/b/abs_ebc3tzm_c4/croot/parsel_1707503517596/work
parso @ file:///C:/b/abs_834b4mj92b/croot/parso_1733963322289/work
partd @ file:///C:/b/abs_e1k4ow1dv4/croot/partd_1736803443606/work
pathspec @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pathspec_1699472481068/work
patsy @ file:///C:/b/abs_f9h0eiedk0/croot/patsy_1738159949276/work
pefile==2024.8.26
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
phoebe==2.4.16
photutils==2.3.0
pi_heif==1.1.1
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
pillow==12.0.0
pillow-avif-plugin==1.5.2
platformdirs @ file:///C:/b/abs_ddh15014or/croot/platformdirs_1744273060660/work
plotly @ file:///C:/b/abs_28qon8a90a/croot/plotly_1740385581534/work
pluggy==1.6.0
ply @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/ply_1699473999871/work
polars==1.35.2
polars-runtime-32==1.35.2
portalocker==2.10.1
pretrainedmodels==0.7.4
prometheus_client @ file:///C:/b/abs_8b175q_ub8/croot/prometheus_client_1744271638821/work
prompt-toolkit @ file:///C:/b/abs_68uwr58ed1/croot/prompt-toolkit_1704404394082/work
propcache @ file:///C:/b/abs_57780xb0gk/croot/propcache_1744012740137/work
Protego @ file:///C:/b/abs_48sti5uql_/croot/protego_1746479771804/work
protobuf @ file:///C:/b/abs_b5v84rwh56/croot/protobuf_1742419721750/work/bazel-bin/python/dist/protobuf-5.29.3-cp312-abi3-win_amd64.whl#sha256=ea7ea1d0989645071f9db2e1e8cdbb05a8f5fe001144842c6bff5b642d4d394e
psutil==7.1.3
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
py-cpuinfo==9.0.0
pyaes==1.6.1
pyarrow @ file:///C:/b/abs_0aneze9pgl/croot/pyarrow_1738229440651/work/python
pyasn1 @ file:///Users/ktietz/demo/mc3/conda-bld/pyasn1_1629708007385/work
pyasn1-modules==0.2.8
PyAVM==0.9.6
pybis==1.37.4
pycares==4.5.0
pycodestyle @ file:///C:/b/abs_9bj6ihy3hn/croot/pycodestyle_1726150314067/work
pycollada==0.9.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyct @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pyct_1699542988857/work
pycurl @ file:///C:/b/abs_60b5cviggn/croot/pycurl_1744743621149/work
pydantic==2.12.4
pydantic-settings==2.12.0
pydantic_core==2.41.5
PyDispatcher @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydispatcher_1699543033434/work
pydocstyle @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pydocstyle_1699495611004/work
pyerfa==2.0.1.5
pyflakes @ file:///C:/b/abs_b6t1aazq2e/croot/pyflakes_1708963020907/work
PyGithub @ file:///C:/b/abs_9alojnzbid/croot/pygithub_1725976303706/work
pyglet==1.5.31
Pygments @ file:///C:/b/abs_e4bg5vh5j_/croot/pygments_1744667628203/work
pyinstaller==6.17.0
pyinstaller-hooks-contrib==2025.10
pyinstrument==5.0.3
PyJWT @ file:///C:/b/abs_02n5wes3j9/croot/pyjwt_1736178904450/work
pylint @ file:///C:/b/abs_52tcgdpqsk/croot/pylint_1743709218105/work
pylint-venv @ file:///C:/b/abs_3f6p_17zia/croot/pylint-venv_1709837680309/work
pyls-spyder==0.4.0
pymdown-extensions==10.16
pymeshlab==2023.12.post3
PyNaCl @ file:///C:/b/abs_b9cyxk0xhf/croot/pynacl_1736542112237/work
pyodbc @ file:///C:/b/abs_908vw1e38j/croot/pyodbc_1737479651089/work
pyOpenSSL @ file:///C:/b/abs_6cmmt1gx_z/croot/pyopenssl_1741343840223/work
pyparsing==3.2.1
PyQt5==5.15.10
PyQt5_sip @ file:///C:/b/abs_d1i1jr9fgt/croot/pyqt-split_1736540551157/work/pyqt_sip
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6_sip==13.10.2
pyqtgraph==0.14.0
PyQtWebEngine==5.15.6
pyreadline3==3.5.4
pyright==1.1.403
Pyrogram==2.0.106
PySide6==6.9.3
PySide6_Addons==6.9.3
PySide6_Essentials==6.9.3
PySocks @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/pysocks_1699473336188/work
pytesseract==0.3.13
pytest @ file:///C:/b/abs_9dllqyhfs_/croot/pytest_1738938859288/work
pytest-beartype==0.2.0
pytest-cov==6.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-engineio==4.10.1
python-fcl==0.7.0.8
python-json-logger @ file:///C:/b/abs_0cm_mnox0z/croot/python-json-logger_1734370042436/work
python-lsp-black @ file:///C:/b/abs_56xq_70uqy/croot/python-lsp-black_1744023225294/work
python-lsp-jsonrpc @ file:///croot/python-lsp-jsonrpc_1708962872556/work
python-lsp-server @ file:///C:/b/abs_dd5ho9pgae/croot/python-lsp-server_1743715808372/work
python-slugify @ file:///tmp/build/80754af9/python-slugify_1620405669636/work
python-socketio==5.11.4
python-telegram==0.19.0
python-telegram-bot==22.5
pytoolconfig @ file:///C:/b/abs_f2j_xsvrpn/croot/pytoolconfig_1701728751207/work
pytz==2025.2
pyuca @ file:///C:/b/abs_c4xy4agr42/croot/pyuca_1726251471052/work
pyvistaqt==0.11.2
pyviz_comms @ file:///C:/b/abs_674gfmqoxa/croot/pyviz_comms_1711136872853/work
pyvo==1.7
PyWavelets==1.9.0
pywin32==308
pywin32-ctypes @ file:///C:/b/abs_2cfx5l4nvi/croot/pywin32-ctypes_1709340246092/work
pywinpty @ file:///C:/b/abs_883wh7sts8/croot/pywinpty_1741871674963/work
PyYAML==6.0.3
pyzmq @ file:///C:/b/abs_f3yte6j5yn/croot/pyzmq_1734711069724/work
QDarkStyle @ file:///croot/qdarkstyle_1709231003551/work
qstylizer @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/qstylizer_1699565338341/work/dist/qstylizer-0.2.2-py2.py3-none-any.whl#sha256=be2f7d956d89710f13dee80f2d594e794c2710f12576fe60ecee84dd1ad72180
QtAwesome @ file:///C:/b/abs_f3usq20nxv/croot/qtawesome_1744810809443/work
qtconsole @ file:///C:/b/abs_077eiqc5gw/croot/qtconsole_1744633984381/work
QtPy @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/qtpy_1701807198514/work
queuelib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/queuelib_1699543858829/work
qutip==5.1.1
rasterio==1.4.3
referencing @ file:///C:/Users/dev-admin/py312/referencing_1706802962559/work
regex @ file:///C:/b/abs_d785r851h6/croot/regex_1736542205858/work
reproject==0.18.0
requests==2.32.5
requests-file @ file:///C:/b/abs_804owi11qo/croot/requests-file_1749719355197/work
requests-toolbelt==1.0.0
rfc3339-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3339-validator_1699543924991/work
rfc3986-validator @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rfc3986-validator_1699543955651/work
rich @ file:///C:/b/abs_8b92fzmygg/croot/rich_1732638991774/work
roboflow==1.2.11
roman-numerals-py @ file:///C:/b/abs_c6xpj9atdr/croot/roman-numerals-py_1744666293821/work
rope @ file:///C:/b/abs_2232rxaz98/croot/rope_1743709233829/work
rpds-py @ file:///C:/b/abs_0c6z5kcdb6/croot/rpds-py_1736545465023/work
Rtree @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/rtree_1699565751755/work
ruff==0.14.6
s3fs==2025.7.0
safetensors==0.4.4
scikit-image @ file:///C:/b/abs_081xgoymhl/croot/scikit-image_1737473383970/work
scikit-learn @ file:///C:/b/abs_0dwalqot3o/croot/scikit-learn_1737988780693/work/dist/scikit_learn-1.6.1-cp312-cp312-win_amd64.whl#sha256=182506dc5e8dc16a17946480ff4567ca27142b879c588302c4fb409e5efadb75
scipy==1.15.1
Scrapy @ file:///C:/b/abs_7d5vqiajdd/croot/scrapy_1743540914951/work
seaborn==0.13.2
segmentation-models-pytorch==0.3.3
semantic-version==2.10.0
Send2Trash @ file:///C:/b/abs_7e73ol18dl/croot/send2trash_1736542724140/work
sentry-sdk==2.13.0
sep==1.4.1
service-identity @ file:///C:/b/abs_2bq9_6ah3e/croot/service_identity_1749714991616/work
setproctitle==1.3.3
setuptools==72.1.0
shapely==2.1.1
shiboken6==6.9.3
simple-websocket==1.1.0
sip @ file:///C:/b/abs_b6twfwtueg/croot/sip_1736544693649/work
six==1.17.0
sklearn-compat @ file:///C:/b/abs_2495oc29im/croot/sklearn-compat_1738003941903/work
smmap @ file:///tmp/build/80754af9/smmap_1611694433573/work
sniffio==1.3.1
snowballstemmer @ file:///tmp/build/80754af9/snowballstemmer_1637937080595/work
sortedcontainers @ file:///tmp/build/80754af9/sortedcontainers_1623949099177/work
soupsieve==2.8
Sphinx @ file:///C:/b/abs_38umzzph7f/croot/sphinx_1744737150958/work
sphinxcontrib-applehelp @ file:///croot/sphinxcontrib-applehelp_1744721330488/work
sphinxcontrib-devhelp @ file:///croot/sphinxcontrib-devhelp_1744727995579/work
sphinxcontrib-htmlhelp @ file:///croot/sphinxcontrib-htmlhelp_1744718370019/work
sphinxcontrib-jsmath @ file:///home/ktietz/src/ci/sphinxcontrib-jsmath_1611920942228/work
sphinxcontrib-qthelp @ file:///croot/sphinxcontrib-qthelp_1744721051257/work
sphinxcontrib-serializinghtml @ file:///croot/sphinxcontrib-serializinghtml_1744724097162/work
spyder @ file:///C:/b/abs_9drsv2xoqd/croot/spyder_1749741990659/work
spyder-kernels @ file:///C:/b/abs_0a8wbrmvxw/croot/spyder-kernels_1748642523170/work
SQLAlchemy @ file:///C:/b/abs_275ybuj8n_/croot/sqlalchemy_1745854539419/work
sqlmodel==0.0.24
stack-data==0.6.3
starlette==0.47.1
statsmodels @ file:///C:/b/abs_c797jbabmm/croot/statsmodels_1734018887218/work
streamlit @ file:///C:/b/abs_a5vo_b5ysk/croot/streamlit-split_1748963606986/work/streamlit
superqt @ file:///C:/b/abs_11kt812ym3/croot/superqt_1743709210824/work
svg.path==7.0
sympy @ file:///C:/b/abs_b4u17p23yg/croot/sympy_1738108511395/work
tables @ file:///C:/b/abs_e0h8gc4hz7/croot/pytables_1748452085563/work
tabulate @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tabulate_1701812852133/work
taichi==1.7.3
tblib @ file:///C:/b/abs_a4ikhoig03/croot/tblib_1749739473644/work
tenacity @ file:///C:/b/abs_1749lsqys6/croot/tenacity_1730304400080/work
terminado @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/terminado_1699545066607/work
text-unidecode @ file:///Users/ktietz/demo/mc3/conda-bld/text-unidecode_1629401354553/work
textdistance @ file:///C:/b/abs_60f65m175u/croot/textdistance_1731571669774/work
texttable==1.7.0
threadpoolctl @ file:///C:/b/abs_def0dwqlft/croot/threadpoolctl_1719407816649/work
three-merge @ file:///tmp/build/80754af9/three-merge_1607553261110/work
tifffile @ file:///C:/b/abs_8aikas7x_4/croot/tifffile_1741164551582/work
timm==0.9.2
tinycss2 @ file:///C:/b/abs_df38owi5ma/croot/tinycss2_1738337725183/work
tldextract @ file:///C:/b/abs_34gknp7o18/croot/tldextract_1723064394448/work
toml @ file:///tmp/build/80754af9/toml_1616166611790/work
tomli @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/tomli_1699472528897/work
tomlkit==0.13.3
toolz @ file:///C:/b/abs_57avamxh36/croot/toolz_1736796279321/work
torchmetrics==1.4.1
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
tqdm==4.67.1
traitlets @ file:///C:/b/abs_bfsnoxl4pq/croot/traitlets_1718227069245/work
triangle==20250106
trimesh==4.7.0
Twisted @ file:///C:/b/abs_65oatfcpaw/croot/twisted_1743537791862/work
twisted-iocpsupport @ file:///C:/b/abs_6883jqhfrn/croot/twisted-iocpsupport_1736544552637/work
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
uc-micro-py @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/uc-micro-py_1699545612984/work
ujson @ file:///C:/b/abs_e5a_v6aejl/croot/ujson_1736543954444/work
uncertainties==3.2.3
unicodedata2 @ file:///C:/b/abs_dfnftvxi4k/croot/unicodedata2_1736543771112/work
Unidecode @ file:///C:/b/abs_4cczv71djp/croot/unidecode_1724790062151/work
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.35.0
vhacdx==0.0.8.post2
w3lib @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/w3lib_1709162573908/work
wandb==0.17.6
watchdog @ file:///C:/b/abs_29_7vso69r/croot/watchdog_1740409940307/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webcolors==24.11.1
webencodings @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/webencodings_1699497069416/work
websocket-client @ file:///C:/b/abs_5dmnxxoci9/croot/websocket-client_1715878351319/work
websockets==15.0.1
Werkzeug @ file:///C:/b/abs_c7bupijx2_/croot/werkzeug_1737448709012/work
whatthepatch @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/whatthepatch_1699497134590/work
wheel==0.45.1
widgetsnbextension==4.0.15
win-inet-pton @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/win_inet_pton_1699472992992/work
wrapt @ file:///C:/b/abs_68gzx33lzh/croot/wrapt_1736543196433/work
xarray @ file:///C:/b/abs_11s3bnmez3/croot/xarray_1749192866207/work
xatlas==0.0.11
xlwings @ file:///C:/b/abs_e58r82ek19/croot/xlwings_1743513451045/work
xxhash==3.5.0
xyzservices @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/xyzservices_1699548906163/work
yapf @ file:///C:/b/abs_8aidayep18/croot/yapf_1708964372649/work
yarl @ file:///C:/b/abs_281qby2vim/croot/yarl_1732546854547/work
zarr==3.1.3
zict @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/zict_1699548979005/work
zipp @ file:///C:/b/abs_2fcpcg89my/croot/zipp_1732630746332/work
zope.event==5.0
zope.interface @ file:///C:/b/abs_dd4yw8umk5/croot/zope.interface_1731939371965/work
zstandard==0.25.0
